@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 38% 97%;
    --foreground: 215 27% 32%;

    --card: 0 0 100%;
    --card-foreground: 215 27% 32%;

    --success: 151 70% 50%;
    --destructive: 0 82% 63%;

    --navy: 219 13% 44%;
    --purple: 277 91% 56%;
    --accent: 219 13% 44%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 216 25% 25%;
    --foreground: 0 0% 100%;

    --card: 215 27% 32%;
    --card-foreground: 0 0% 100%;

    --success: 151 70% 50%;
    --destructive: 0 82% 63%;

    --navy: 219 13% 44%;
    --purple: 277 91% 56%;
    --accent: 216 47% 78%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
